@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);


body {
    /*background: url("../images/northern-light-984001_640.jpg") no-repeat;    
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;*/
    background: #161675;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

ul,ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #FF432E;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
}

.marginTop0 {
    margin-top: 0 !important;
}


.btn-primary {
    border-color: #FF432E;
    background-color: #FF432E;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #ea321e;
    background-color: none !important;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #FF432E;
    background-color: #FF432E;
}


/**** Start Section Title Section ****/

.section-title h3{
    color: #666 !important;
    //font-style: italic;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

.section-title p {
    padding-bottom: 60px;
    color: #999;
    font-size: 18px;
    //font-style: italic;
    font-weight: 300;
}


/**** Start Logo Section ****/

#logo-section {
    
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 60px;
}

.logo span {
    color: #FFF;
    font-size: 16px;
}



/**** Start Background Color ****/

.blue {
    background: #28ABE3;
}

.fb-blue {
    background: #3b5998;
}

.twitter-blue {
    background: #0099e5;
}

.green {
    background: #72bf48;
}

.red {
    background: #FF432E;
}

.light-red {
    background: #FB6648;
}

.light-orange {
    background: #FA6900;
}

.color {
    background: #0ECEAB;
}



/**** Start Main Body Section ****/

.mainbody-section {
    padding-top: 50px;
    padding-bottom: 30px;    
}

.menu-item {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	
}

.menu-item a {
    color: #fff;
    display: block;
    text-decoration: none !important;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.menu-item a p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.menu-item a i {
    font-size: 50px;
    padding-bottom: 20px;
}

.menu-item:hover a {
    text-decoration: none;
    //color: #333;
	animation: wobble;
	-webkit-animation: wobble;
	animation-duration: 1000ms;
	-webkit-animation-duration: 1000ms;
}

@media only screen 
and (min-width : 600px) 
and (max-width : 991px) {
    
    .menu-item {
        display: inline-block;
        width: 32.8%;
    }
    
    .menu-item.responsive {
        width: 49.5%;
        float: left;
        margin-right: 3px;
    }
    
    .menu-item.responsive-2 {
        width: 49.5%;
        float: right;
    }
    
}



@media only screen 
and (min-width : 992px) 
and (max-width : 1199px) {
    
    .menu-item {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .menu-item a i {
        font-size: 32px;
    }
    
    .menu-item a p {
        font-size: 16px;
    }
    
}


.home-slider img {
    width: 100%;
    height: auto;
}

.home-slider .carousel-indicators {
    position: absolute;
    bottom: 10%;
}

.home-slider .carousel-indicators .active {
	background-color: #FF432E;
}

.copyright {
    background: rgba( 0, 0, 0, 0.7);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* progress bar */

.skill {
    padding-bottom: 5px;
}

.skill p {
  margin-bottom:7px;

}

.progress {
  background: #fff;
  overflow: visible;
  height: 20px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
    background: #FF432E;
  float: left;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  position:relative;
}

 .progress-bar-span { 
 opacity:1;
 position:absolute;
 top:-5px;
 background:#ACB2B8;
 padding:3px 10px;
 color:#FFF;
 border-radius: 0px;
 right:0px;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; 
 }

.skill:hover .progress-bar-span {
  opacity:1;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/*Apps page start*/

.app-mockup {
    
}

.app-quotation {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    margin-top: 40px;
}

.app-quotation .quote-sign {
    font-size: 15px;
    font-style: normal;
    text-align: right;
    display: block;
    padding: 5px 10px;
}

.app-title {
    margin-top: 35px;
} 

.app-title .app-name {
    font-family: 'Lobster', cursive;
    font-size: 65px;
    vertical-align: middle;
}

.app-store-logos {
    margin-top: 30px;
}

.app-store-logos .app-store {
    margin-top: 15px
}

.animateSlideInRight {
    animation: slideInRight;
    -webkit-animation: slideInRight;
    animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.animateSlideInLeft {
    animation: slideInLeft;
    -webkit-animation: slideInLeft;
    animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.animateSlideInUp {
    animation: slideInUp;
    -webkit-animation: slideInUp;
    animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.animateSlideInDown {
    animation: slideInDown;
    -webkit-animation: slideInDown;
    animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.app-feature {
    text-align: left;
}

.app-feature h1 {
    font-size: 20px;
}

@media (max-width: 991px) {
   .app-feature {
        margin-top: 45px;
    } 
}

@media (max-width: 767px) {
    .app-title .app-name {
        font-size: 40px;
    }

    .app-quotation {
        font-size: 18px;
    }

    .app-store-logos {
        margin-top: 10px;
    }
}