* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

body { 
/*    background: rgb(23,0,82);*/
/*    background: #161675;*/
    background: #4141E4;
/*    padding-bottom: 70px; */
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    position: relative;
}

label {
    font-weight: normal;
}

.container-fluid {
    padding: 0 10px;
}

.shift-effect {
    margin: 7px;
}

.drag-effect {
    z-index: 111 !important;
}

.toggleBtn {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid darkgray;
/*    background: gray;*/
/*    border-radius: 50%;*/
    position: absolute;
    right: 30px;
    top: 12px;
    padding: 0.5px;
}

.toggleBtn span {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: orangered;
/*    border-radius: 50%;*/
}

.toggleBtn.off span {
    display: none;
}

.tiles-container {
    margin: 15px 0;
    position: relative;
    margin-top: 100px;
    padding-bottom: 70px;
}

.grid {
    position: absolute;
    border: 1px solid lightgray;
    z-index: 9;
    color: #FFF;
}

.tile {
    list-style: none;
    float: left;
    display: block;
/*    border: 1px solid #000;*/
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 10;
/*
    float: left;
    position: relative;
*/
}

.tile .tileInnerContainer {
/*    border: 1px solid #00F;*/
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.tile .tileInnerContainer .tileMask {
    position: absolute;
/*    background: rgba(0,0,0,.6);*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: none;
}

.resizeMode .tile .tileInnerContainer .tileMask {
    display: block;
}

.resizeMode .tile .tileInnerContainer,
.movementMode .tile .tileInnerContainer {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.resizeMode .tile .tileInnerContainer {
    -webkit-animation-name: customPulse;
    animation-name: customPulse;
}

.movementMode .tile .tileInnerContainer {
/*    border: 2px solid yellow;*/
    -webkit-animation-name: customShake;
    animation-name: customShake;
}

.tile .tileInnerContainer .resizeBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    color: aqua;
    display: inline-block;
}

.xs .tile {
    padding: 2.5px;
}

.sm .tile {
    padding: 4px;
}

.md .tile {
    padding: 4px;
}

.tile .name {
    display: block;
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.7);
    color: #FFF;
    font-size: 13px;
    padding: 0 5px;
    white-space: nowrap;
}

.tile .fontIcon {
    font-size: 150px;
    margin-top: 60px;
    color: #FFF;
}

.tile .fontImg {
    height: 100%;
    width: 100%;
}

.topPanel {
    margin-top: 20px;
    color: #FFF;
}

.topPanel .welcomeTxt {
    font-size: 30px;
}

.topPanel #microProfile {
    float: right;
    position: relative;
/*    border: 1px solid #FFF;*/
    height: 60px;
    width: 300px;
}

.topPanel #microProfile * {
    position: absolute;
}

.topPanel #microProfile #userName {
    font-size: 22px;
    right: 60px;
    top: 0;
}

.topPanel #microProfile #profilePic {
    height: 50px;
    width: 50px;
    float: right;
    right: 0;
    top: 0;
}

.topPanel #microProfile .desc {
    top: 27px;
    right: 60px;
    font-size: 15px;
}
/*

.tile.medium .fontIcon,
.tile.rectangle .fontIcon{
    font-size: 50px;
    margin-top: 40px;
}

.tile.small .fontIcon {
    font-size: 30px;
    margin-top: 10px;
}

.tile.medium .fontIcon {
    font-size: 50px;
    margin-top: 40px;
}
*/



@media (min-width: 768px) {
    .taskbar .container-fluid {
        padding: 0;
    }
    
    .taskbar .navbar-inverse .navbar-nav>li>a.startBtn {
        color: #FFFFFF;
        background: #000;
        font-size: 16px;
        padding: 20px 15px;
    }
    
    .taskbar .navbar {
        min-height: 30px;
    }
    
    .taskbar .navbar-inverse {
/*        background: rgb(63, 71, 121);*/
        background: rgb(8, 12, 37);
    }
    
    .taskbar *,
    .taskbar .navbar-nav>li>a{
        line-height: 0;
    }
    
    .xsOnly {
        display: none !important;
    }
    
    .taskbar .toggleBtn {
        right: 7px;
        top: 4px;
    }
    
    .dropdown-menu>li>a {
        padding-left: 7px;
    }
    
}

@media (max-width: 767px) {
    .topPanel .welcomeTxt {
        display: none;
    }
    
    .taskbar .navbar-inverse {
        bottom: -1px;
    }
    
    .hideInXS {
        display: none !important;
    }
    
    #mobileStartBtn {
        background: #000;
        color: #FFF;
        float: left;
        margin-left: 15px;
    }
}


/************* Animation Keyframes ******************/

@-webkit-keyframes customShake {
/*
  from, to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
*/

  25% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
    
   75% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes customShake {
  /*
  from, to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
*/

   25% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
    
   75% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@-webkit-keyframes customPulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(.95, .95, .95);
    transform: scale3d(.95, .95, .95);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes customPulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(.95, .95, .95);
    transform: scale3d(.95, .95, .95);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}